.main
  .main__title
    color: black
    font-size: 24px
    line-height: 28px
    margin-bottom: $pad
    
  .main__nav
    margin-bottom: $pad

  .main__card__subtitle + .main__card__row
    margin-top: $pad/2

  .main__card
    &--info
      background: $color-info
