.table
  background: #fff
  font-size: 13px
  width: 100%

  .table__head
    font-weight: bold
    font-size: 12px

  .table__row
    border-bottom: 1px solid #efefef

  .table__row__cell
    padding: 1px 5px

  a
    text-decoration: none
