{% extends "base.html" %}

{% block main %}
<div class="main__nav">
  <a class="icon-button" href="/_grow/users">
    <i class="material-icons">arrow_back</i>
    Back to users
  </a>
</div>
<div
    ng-cloak
    ng-controller="ManageUserController as ctrl"
    ng-init="ctrl.setEmail('{{user.email}}')">
  <div class="main__card main__card--sm">
    <div class="main__card__title">
      [[ctrl.user.email]]
    </div>
    <div class="main__card__subtitle">
      Modified [[ctrl.user.modified|date:'medium']]
      <span ng-if="ctrl.user.modified_by">
        by [[ctrl.user.modified_by]]
      </span>
    </div>
  </div>
  {% if user.is_wildcard %}
    <div class="main__card main__card--sm main__card--info">
      This is a wildcard user. All users in <b>{{user.domain}}</b> may access to the folders below.
    </div>
  {% else %}
    <div class="main__card main__card--sm">
      <div class="main__card__subtitle">
        Send an email to the user about their access level containing a link to the website.
      </div>
      <div class="main__card__row">
        <button class="button" ng-click="ctrl.sendEmailNotification()">Send email</button>
      </div>
    </div>
  {% endif %}

  <div class="main__card main__card--sm">
    <div class="main__card__row">
      <button class="button" ng-click="ctrl.addToAllUnlocked()">Add to all unlocked</button>
    </div>
    <br>
    <table class="table">
      <thead class="table__head">
        <tr class="table__row">
          <td></td>
          <td>Status</td>
          <td>Folder</td>
        </tr>
      </thead>
      <tr ng-repeat="folder in ctrl.user.folders">
        <td class="table__row__checkbox">
          <input
               ng-change="ctrl.serializeAndUpdateFolders()"
               ng-model="folder.has_access"
               ng-checked="folder.has_access"
               type="checkbox"
               id="folder-[[folder.folder_id]]">
        </td>
        <td>
          <span ng-if="folder.has_requested">
            <span class="badge">
              Requested
            </span>
          </span>
        </td>
        <td>
          <label for="folder-[[folder.folder_id]]" class="table__row__checkbox-label">
            [[folder.title]]
            <i ng-if="folder.title.includes('Archive')" class="material-icons">lock</i>
          </label>
        </td>
      </tr>
    </table>
  </div>
  <div class="main__card main__card--sm" ng-if="ctrl.user.questions">
    <div class="main__card__row main__card__row--spaced" ng-repeat="question in ctrl.user.questions">
      <div class="main__card__row__item">
        <b>[[question.question]]</b>
      </div>
      <div class="main__card__row__item">
        [[question.answer]]
      </div>
    </div>
  </div>
  <div class="main__card main__card--sm">
    <button ng-click="ctrl.deleteUser()" class="button button--red">Delete user</button>
  </div>
</div>
{% endblock %}
