{% extends "base.html" %}

{% block main %}
<div ng-controller="ManageUsersController as ctrl">
  <form
      class="form"
      ng-submit="ctrl.create(ctrl.user.email)">
    <div class="form__row">
      <div class="form__row__label">Email</div>
      <div class="form__row__control">
        <input type="text" ng-model="ctrl.user.email">
      </div>
    </div>
    <div class="form__row">
      {% for option in options %}
        <div class="form__row__option">
          <input type="checkbox" value="{{option.id}}"> {{option.label}}
        </div>
      {% endfor %}
    </div>
    <div class="form__row">
      <button type="submit" class="button">Add user</button>
    </div>
  </form>

  <div class="main__card">
    <table class="table" ng-cloak>
      <thead class="table__head">
        <tr class="table__row">
          <td>Email</td>
          <td>Folders</td>
          <td>Created</td>
        </tr>
      </thead>
      <tr ng-repeat="user in ctrl.users" class="table__row">
        <td class="table__row__cell"><a href="/_grow/users/[[user.email]]">[[user.email]]</a></td>
        <td class="table__row__cell">[[user.num_folders]]</td>
        <td class="table__row__cell">[[user.created]]</td>
      </tr>
    </table>
  </div>

</div>
{% endblock %}
