{% extends "base.html" %}

{% block main %}
<div ng-controller="ManageUserController as ctrl">
  <form
      class="form"
      ng-submit="ctrl.create(ctrl.user.email)">
    <div class="form__row">
      <div class="form__row__label">Email</div>
      <div class="form__row__control">
        <input type="text" ng-model="ctrl.user.email">
      </div>
    </div>
    <div class="form__row">
      {% for option in options %}
        <div class="form__row__option">
          <input type="checkbox" value="{{option.id}}"> {{option.label}}
        </div>
      {% endfor %}
    </div>
    <div class="form__row">
      <button type="submit">Add user</button>
    </div>
  </form>
  [[ctrl.users]]
</div>
{% endblock %}
