{% extends "email.html" %}

{% block main %}
  <p>Hello {{config.title}} administrators,</p>
  <p>The following user has requested access:</p>
  <blockquote>
    <b>{{request.email}}</b>
  </blockquote>
  <p class="centered"><a class="btn" href="#">Approve user</a></p>
  <p>
    <table style="margin-bottom: 20px">
      {% for key, val in request.form.iteritems() %}
      <tr>
        <td style="width: 140px"><b>{{key}}</b></td>
        <td>{{val}}</td>
      </tr>
      {% endfor %}
    </table>
  </p>
{% endblock %}
