{% extends "email.html" %}

{% block main %}
  <p>Hello {{email_config.title}} administrators,</p>
  <p>The following user has requested access:</p>
  <blockquote>
    <b>{{req.email}}</b>
  </blockquote>
  <div class="main__cta">
    <a class="btn" target="_blank" href="{{email_config.base_url.rstrip('/')}}/_grow/users/{{req.email}}">Review access request</a>
  </div>
  <div class="main__form">
    {% for question in req.form %}
      <div class="main__form__key">
        {{question.question}}
      </div>
      <div class="main__form__value">
        {{question.answer}}
      </div>
    {% endfor %}
  </div>
{% endblock %}
