{% extends "email.html" %}

{% block main %}
  <p>Hello {{email_config.title}} administrators,</p>
  <p>The following user has requested access:</p>
  <blockquote>
    <b>{{req.email}}</b>
  </blockquote>
  <p class="centered"><a class="btn" target="_blank" href="{{email_config.base_url}}/_grow/access-requests/approve/{{req.email}}">Approve user</a></p>
  <p>
    <table>
      {% for key, val in req.form.iteritems() %}
      <tr>
        <td style="width: 140px"><b>{{key}}</b></td>
        <td>{{val}}</td>
      </tr>
      {% endfor %}
    </table>
  </p>
{% endblock %}
